<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace = "com.qaprosoft.navigator.dao.ICountryDao"> 

	<insert id = "insert" parameterType = "Country" useGeneratedKeys = "true" keyProperty = "id">
	INSERT INTO  Countries (id, country) VALUES (#{id}, #{country})
	</insert>
	
	<resultMap type = "Country" id = "CountryResultMap"> 
		<id property = "id" column = "country_id"/> 
	<result property = "country" column = "country_name"/> 
	</resultMap> 
	
	<select id = "getById" parameterType ="int" resultMap = "CountryResultMap"> 
		select co.id as country_id,
		co.country as country_name
		from Countries co WHERE id=#{id} 
	</select> 
	
	<update id = "update" parameterType = "Country">
	UPDATE Countries SET country=#{country} WHERE id=#{id}
	</update>

	<delete id = "delete" parameterType = "int">
	DELETE FROM Countries WHERE id=#{id}
	</delete>
</mapper>