<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace = "com.qaprosoft.navigator.dao.ICountryDao"> 

	<insert id = "insert" parameterType = "Country" useGeneratedKeys = "true" keyProperty = "id">
	INSERT INTO  Countries (country) VALUES (#{country})
	</insert>
	
	<resultMap type = "Country" id = "CountryResultMap"> 
		<id property = "id" column = "country_id"/> 
	<result property = "country" column = "country_name"/> 
	</resultMap> 
	<resultMap type = "Country" id = "CountryToResultMap"> 
		<id property = "id" column = "countryto_id"/> 
	<result property = "country" column = "countryto_name"/> 
	</resultMap> 

	
	<update id = "update" parameterType = "Country">
	UPDATE Countries SET country=#{country} WHERE id=#{id}
	</update>

	<delete id = "delete" parameterType = "int">
	DELETE FROM Countries WHERE id=#{id}
	</delete>
</mapper>