<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace = "com.qaprosoft.navigator.dao.IDriverDao"> 

	<insert id = "insert" parameterType = "Driver" useGeneratedKeys = "true" keyProperty = "id">
	INSERT INTO  Drivers (id, name, second_name) VALUES (#{id}, #{name}, #{secondName})
	</insert>
	
	<resultMap type = "Driver" id = "DriverResultMap"> 
		<id property = "id" column = "driver_id"/> 
		<result property = "name" column = "driver_name"/> 
		<result property = "secondName" column = "driver_secondName"/> 
		<association property="license" resultMap = "com.qaprosoft.navigator.dao.ILicenseDao.LicenseResultMap"/> 
	</resultMap> 
	
	<select id = "getById" parameterType ="int" resultMap = "DriverResultMap"> 
		select dr.id as driver_id,
		dr.name as driver_name,
		dr.second_name as driver_secondName,
		l.id as license_id,
		l.DL as dl,
		l.class as class,
		l.EXP as exp,
		l.END as end
		FROM Drivers dr LEFT OUTER JOIN Licenses l ON dr.Licenses_id = l.id WHERE dr.id = #{id}
	</select> 
	
	<update id = "update" parameterType = "Driver">
	UPDATE Drivers SET name=#{name}, second_name=#{secondName} WHERE id=#{id}
	</update>

	<delete id = "delete" parameterType = "int">
	DELETE FROM Drivers WHERE id=#{id}
	</delete>
</mapper>